@charset "utf-8";
#top_index {
	height: 20px;
	width: auto;
	margin-bottom:10px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

#top_index a{
	color:#000;
	text-decoration:none;
}

#title {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:24px;
	font-family:"楷体", "宋体";
}

#img {
	margin-left:auto;
	margin-right:auto;
	width:800px;
	height:auto;
}